<h1>Interaction</h1>
<ul>
  <li>ID: <%= @interaction.id %></li>
  <li>Name: <%= @interaction.short_description %></li>
  <li>Attitude: <%= @interaction.attitude %></li>
  <li>Date: <%= @interaction.date %></li>
  <li>Description: <%= @interaction.full_description %></li>
</ul>
<h2>NPCs</h2>
<ul>
  <% @interaction_npcs.each do |npc| %>
    <li>
      <a href="/npcs/<%= npc.id %>"><%= npc.name %></a>
    </li>
  <% end %>
</ul>
<% if user_rights? %>
  <form id="delete" action="/interactions/<%= @interaction.id %>/delete" method="post">
    <input type="submit" value="Delete Interaction">
  </form>
  <form id="update" action="/interactions/<%= @interaction.id %>/update" method="get">
    <input type="submit" value="Update Interaction">
  </form>
<% end %>