<h1>Interaction</h1>
<ul>
  <li>ID: <%= @interaction.id %></li>
  <li>Name: <%= @interaction.short_description %></li>
  <li>Attitude: <%= @interaction.attitude %></li>
  <li>Date: <%= @interaction.date %></li>
  <li>Description: <%= @interaction.full_description %></li>
</ul>
<p><%= puts @interaction %></p>
