<h1>NPC</h1>
<ul>
  <li>ID:<%= @npc.id %></li>
  <li>Name: <%= @npc.name %></li>
  <li>StatBlock: <%= @npc.stat_block_name %></li>
  <li>Location: <%= @npc.main_location %></li>
  <li>Alignment: <%= @npc.alignment %></li>
  <li>Ancestory: <%= @npc.ancestory %></li>
  <li>Gender: <%= @npc.gender %></li>
  <li>Description: <%= @npc.short_description %></li>
</ul>
<h2>Interactions</h2>
<ul>
  <% @npc_interactions.each do |interaction| %>
    <% involved_characters = load_interaction_involved_character_objects(interaction.id) %>
    <li>
      <a href="/interactions/<%= interaction.id %>"><%= interaction.short_description %></a>
      : <% involved_characters.each do |character| %>
        <% next if character.name == @npc.name %>
          <a href="/npcs/<%= character.id %>"><%= character.name %></a>  
        <% end %>
    </li>
  <% end %>
</ul>
<form id="delete" action="/npcs/<%= @npc.id %>/delete" method="post">
  <input type="submit" value="Delete NPC">
</form>
<form id="update" action="/npcs/<%= @npc.id %>/update" method="get">
  <input type="submit" value="Update NPC">
</form>
